body{
    background-image: url(Background_page.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.workspace{
    width: 900px;
    height: 720px;
}

.site_name{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(34, 29, 60);
    width: 900px;
    height: 40px;
}

.name_pict{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(194, 197, 242);
    font-size: 26px;
    background-color: rgb(34, 29, 60);
    width: 900px;
    height: 40px;
}

.button-save, .button-clear{
    width: 150px;
    height: 30px;
    border: 2px solid rgba(0, 0, 0, 0.863);;
    border-radius: 5px;
    font-size: 20px;
}

.button-save{
    background-color: rgba(49, 147, 67, 0.863);
    margin-right: 180px;
}

.button-clear{
    background-color: rgba(225, 74, 74, 0.863);
    margin-left: 180px;
}


.button-save:focus,
.button-clear:focus {
  outline: none;
  border-color: #2d4356;
  box-shadow: 0 0 10px #576d7c;
}

.panel{
    display: flex;
    width: 900px;
    height: 600px;
}

.tools_1{
    background-color: rgb(34, 29, 60);
    width: 50px;
    height: 600px;
}

.canvs{
    background-color: rgb(208, 231, 208);
    width: 800px;
    height: 600px;
}

.tools_2{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(34, 29, 60);
    width: 900px;
    height: 40px;
}

.colorPicker{
    width: 235px;
    height: 30px;
    border-radius: 30px;
}

.brushSizeSlider{
    margin-right: 50px;
    margin-left: 50px;
    width: 235px;
    height: 30px;
}

.brushSizeLabel{
    width: 235px;
    font-size: 24px;
    color: rgb(7, 5, 113);
    text-shadow: 0px 0px 7px rgb(18, 224, 247), 0px 0px 7px rgb(70, 253, 235), 0px 0px 7px rgb(136, 248, 250);
}
